*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    scroll-behavior: smooth;
}

#content{
    display: grid;
    grid-template-rows: 1fr;
    height: 100%;
}
.cabecalho{
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
#content-container{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    height: 100%;
}
.esquerda{
    background-color: rgb(201, 201, 201);
}
.centro{
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
}
.sumario{
    margin-top: 0;
    margin-left: 80%;
    width: 15%;
    height: auto;
    padding: 0;
    background-color: rgb(201, 201, 201);
}
.sumario ul{
    padding: 0;
    margin: 15%;
}
.sumario a{
    text-decoration: none;
    color: blue;
}
.direita{
    display: flex;
    background-color:rgb(201, 201, 201);
}
.centro h3{
    padding: 10px;
    font-size: 30px;
}
.centro p{
    margin: 0px;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
}